{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
    {% if category %}
        {{category.name}}
    {% else %}
        Products
    {% endif %}
{% endblock title %}

{% block content %}

    <div id="main" class="product-list">
        <h1> {% if category %} {{ category.name }} {% else %}Products{% endif %} </h1>
        <div class="row px-xl-5">
            {% for product in products %}
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <div class="image-container">
                        <img class="img-fluid w-100" src="{% if product.image %} {{ product.image.url }} {% else %} {% static 'img/no_image.png' %}{% endif %}" alt="product-image">
                        </div>
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{{product.name}}</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>${{product.price}}</h5><h6 class="text-muted ml-2"><del>${{product.price}}</del></h6>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}
            
            <span class="current-page">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>
            
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

{% endblock content %}