{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
       <title>{% block title %}{% trans "Procent Store | your best choice for a tech store" %}{% endblock %}</title>
       <link href="{% static "css/base.css" %}" rel="stylesheet">
    <head> 
    <body>
        <div id="header">
            <a href="/" class="logo"> {% trans "Procent Store" %}</a>
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <div class="languages">
                <p>{% trans "Language" %}:
                    <ul class="languages">
                        {% for language in languages %}
                        <li>
                            <a href="/{{language.code}}" {% if language.code == LANGUAGE_CODE %} class="selected"{% endif %}>
                                {{ language.name_local }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </p>
            </div>
        </div>
        <div id="subheader">
            <div class="cart">
                {% with total_items=cart|length  %}
                {% if total_items > 0 %}
                {% trans "Your cart" %}:
                <a href="{% url 'cart:cart_detail' %}">
                    {% blocktrans with total=cart.get_total_price count items=total_items %}
                    {{ items }} item, ksh{{ total }}
                    {% plural %} 
                    {{ items }} item, ksh{{ total }}
                    {% endblocktrans %}
                    {% comment %} {{ total_items }} item{{ total_items|pluralize}}, ksh{{ cart.get_total_price_after_discount|floatformat:2 }} {% endcomment %}
                </a>
                {% else %}
                {% trans "Your cart is empty" %}
                {% endif %}
                {% endwith %}
                
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>

        <footer>
            <div class="container">
                <div class="footer-content">
                    <div class="footer-logo">
                        <img src="logo.png" alt="Infinity Hub Logo">
                    </div>
                    <div class="footer-contact">
                        <h3>Contact Us</h3>
                        <p>Email: info@procentstore</p>
                        <p>Phone: +254-456-7890</p>
                    </div>
                    <div class="footer-social">
                        <h3>Follow Us</h3>
                        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                        <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                        <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
                    </div>
                </div>
            </div>
            <p class="footer-copy">&copy; 2023 Infinity Hub. All rights reserved.</p>
        </footer>
    </body>
</html>